# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binaries
*.test

# Output of the go coverage tool
*.out
*.prof

# OS specific files
.DS_Store
Thumbs.db

# Project-specific binaries
bin/

# Graphify
graphify-out/